@using UserManagmentMvc.Extensions
@model   IEnumerable<UserManagmentMvc.Models.ViewModel.UserVM>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>

    @if (Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>

                    <th scope="col">
                        @Html.mDisplayNameFor(m => m.Name)
                    </th>
                    <th scope="col">
                        @Html.mDisplayNameFor(m => m.Surname)
                    </th>
                    <th scope="col">
                        @Html.mDisplayNameFor(m => m.MidleName)
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.MidleName</td>
                    <td></td>

                </tr>
            }
        </table>
    }
</div>